*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;
        color: black;
}
header{width: 100%; height: 80px;
    border-bottom: 1px solid #ccc;
}
section{width: 100%; height: 700px;
}
.header_in{width: 1200px; margin: 0 auto;
            height: 80px;
}
.logo{float: left; 
    margin-top: 10px;
    width: 150px;
                height: 50px;}
.logo img{width: 100%; height: 100%;}
nav{width: 1000px;
        margin: 0 auto;
    height: 80px;}
.nav_in li{width: 250px;
        margin-left: 50px;
        line-height: 80px;
    height: 80px;
        float: left;
}
.page01_se{margin: 10px 0;}
.page01{width: 100%;
    position: relative;
    height: 800px;
    overflow: hidden;
}
.page01_content{width: 100%;
    height: 650px;
    overflow: hidden;
    
}
.page01_slider li{width: 100%;
    height: 650px;
    position: absolute;

}
.page01_slider li:nth-child(1){
    left: 0;
    background: url(http://urbanfootball.co.kr/data/attach/FILE202210181441500.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page01_slider li:nth-child(2){
    left: 100%;
    background: url(/img/newimg\ \(8\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page01_slider li:nth-child(3){
    left: 200%;
    background: url(/img/newimg\ \(9\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page01_button{width: 400px; height: 50px;
    position: absolute;
    bottom: -10%;
    left: 40%;
}
.page01_btns li{width: 100px; height: 10px;
        float: left;
        background-color: black;
        
        margin-left: 20px;
}

.page02_se{
    
    }

.page02{width: 1400px; margin: 0 auto;
        height: 700px;
        position: relative;
        
}
.page02_se video {
    position: absolute;
z-index: -9;
height: 100%;
width: 100%;
object-fit: cover;
box-shadow: 5px 5px 15px;
opacity: 0.9;

}
.page02_left{width: 30%;
        height: 600px;
        margin-top: 25px;
        float: left;
        margin-left: 30px;
}
.page02_left img {margin: 30px;}
.page02_left p{margin: 10px;}
.page02_left h1{margin: 10px;}
.page02_left a{position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 22px;
    font-weight: 800;
}

.page02_right{width: 70%;
    height: 700px;
    float: left;
}


.page02_left .left_text{padding: 1rem;
    box-sizing: border-box;
    height: 550px;
    border-radius: 10%;
    background-color: #f8f8f8;
    position: relative;
}

.page02_left .left_text.color{
    transition: 0.5s all;
    background-color: rgba(34, 175, 34, 0.63);

    color: #f8f8f8;
}
.page02_left .left_text a.color{
    color: #f8f8f8;
}

.page02_list li{width: 30%;
    float:left;
    margin: 20px 20px;
    height: 250px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: #f8f8f8;

}
.page02_list li img{width: 50px 50px;
    margin: 30px 0;
}
.page02_list li p{ margin: 10px;}
.page02_list li h1{margin: 10px;}

.page02_list li.color{
    transition: 0.5s all;
    background-color: rgba(34, 175, 34, 0.63);
    color: #f8f8f8;
}

.page03_se{
    margin: 0;
    width: 100%; height: 200px;
    border-bottom: 2px solid #ccc;

}
.page03{width: 1200px; margin: 0 auto;
    height: 200px;
        }

.page03_content li:nth-child(1){
    line-height: 150px;
}
.page03_content li {width: 200px; height: 200px;
            float: left;
            cursor: pointer;
            box-sizing: border-box;
text-align: center;}
.page03_content li:hover{    background-color: rgba(34, 175, 34, 0.63);

transition: 1s all;


}
.page03_content li img {width: 50px; height: 50px;
    margin: 30px 0 10px 0;
}

.page04_se{width: 100%; height: 1200px;
    background: url(/img/grass-gc7b7d57fe_1280.fix.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.page04{width: 1200px; margin: 0 auto;
    height: 1200px;
    position: relative;
    overflow: hidden;
}

.page04 .page04_title{width: 100%; 
text-align: center;
position: absolute;
z-index: 999;
bottom: 50%;
transition: 1s all;
font-size: 50px;
color: rgb(233, 225, 225);
text-shadow: 3px 3px 15px  black;
}
.page04 .page04_title.move{
bottom: 90%;
transition: 1s all;
font-size: 40px;
color: #f8f8f8;


}
.page04_list li{width: 100%;
    position: absolute;
    height: 700px;
    opacity: 0;

    }
.page04_list li.move{
    opacity: 1;
    transition: 1s all;
}
.page04_list li:nth-child(1){
    left: 0;
}
.page04_list li:nth-child(2){
    left: 100%;


}
.page04_list li:nth-child(3){
    left: 200%;

}
.page04_list li:nth-child(4){
    left: 300%;

}

.page04_button li{width: 150px; height: 80px;
position: absolute;
bottom: 10%;
cursor: pointer;
display: inline-block;
left: 60%;
font-size: 50px;
margin-left: 20px;
color: rgb(233, 225, 225);
text-shadow: 3px 3px 15px  black;
opacity: 0.2;


}

.page04_button li.color{
    scale: 1.1;
    opacity: 1;
    transition: 0.5s all;
}
.page04_button li:nth-child(1){
    left: 20%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.page04_button li:nth-child(2){
left: 35%;

background-size: cover;
background-position: center;
background-repeat: no-repeat;

}
.page04_button li:nth-child(3){
    left: 50%;

background-size: cover;
background-position: center;
background-repeat: no-repeat;

}
.page04_button li:nth-child(4){
    left: 65%;

background-size: cover;
background-position: center;
background-repeat: no-repeat;

}


.page04_content {display: flex;
    width: 100%; height: 700px;
    margin-top: 120px;
    transition: 1s all;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page04_content > div {

    background-color: black;
    width: 350px; height: 350px;
    position: relative;
    margin-top: 30px;
    box-shadow: 3px 3px 15px black;
}

.page04_content img{width: 100%; height: 100%;

}
.page04_content figure{width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: #f8f8f8;
    }
.page04_content figure.move{
    opacity: 1;
    bottom: 30%;
    transition: 1s all;
    text-align: center;
}
.page04_content figure p{margin: 10px;}
.page04_content figure span{font-size: 22px;
    font-weight: 800;

}
.page04_content img.color{
    transition: 0.5s all;

    opacity: 0.3;}


.page05_content{
    display: flex;
    width: 100%; height: 700px;
    margin-top: 120px;
    flex-wrap: wrap;
    justify-content: space-between;

}
    .page05_content > div {
        margin-top: 30px;

        background-color: black;
        width: 350px; height: 350px;
        position: relative;
        box-shadow: 3px 3px 15px black;
    }
    
    .page05_content img{width: 100%; height: 100%;
    }
    .page05_content figure{width: 100%;
        position: absolute;
        bottom: 0;
        opacity: 0;
        color: #f8f8f8;
        }
    .page05_content figure.move{
        opacity: 1;
        bottom: 30%;
        transition: 1s all;
        text-align: center;
    }
    .page05_content figure p{margin: 10px;}
    .page05_content figure span{font-size: 22px;
        font-weight: 800;
    
    }
    .page05_content img.color{
        transition: 0.5s all;
    
        opacity: 0.3;}
    /* 06 page */
        .page06_content{
            display: flex;
            width: 100%; height: 700px;
            margin-top: 120px;
            flex-wrap: wrap;
            justify-content: space-between;
        
        }
            .page06_content > div {
                margin-top: 30px;
        
                background-color: black;
                width: 350px; height: 350px;
                position: relative;
                box-shadow: 3px 3px 15px black;
            }
            
            .page06_content img{width: 100%; height: 100%;
            }
            .page06_content figure{width: 100%;
                position: absolute;
                bottom: 0;
                opacity: 0;
                color: #f8f8f8;
                }
            .page06_content figure.move{
                opacity: 1;
                bottom: 30%;
                transition: 1s all;
                text-align: center;
            }
            .page06_content figure p{margin: 10px;}
            .page06_content figure span{font-size: 22px;
                font-weight: 800;
            
            }
            .page06_content img.color{
                transition: 0.5s all;
            
                opacity: 0.3;}
            
        /* 07page */

        .page07_content{
            display: flex;
            width: 100%; height: 700px;
            margin-top: 120px;
            flex-wrap: wrap;
            justify-content: space-between;
        
        }
            .page07_content > div {
                margin-top: 30px;
        
                background-color: black;
                width: 350px; height: 350px;
                position: relative;
                box-shadow: 3px 3px 15px black;
            }
            
            .page07_content img{width: 100%; height: 100%;
            }
            .page07_content figure{width: 100%;
                position: absolute;
                bottom: 0;
                opacity: 0;
                color: #f8f8f8;
                }
            .page07_content figure.move{
                opacity: 1;
                bottom: 30%;
                transition: 1s all;
                text-align: center;
            }
            .page07_content figure p{margin: 10px;}
            .page07_content figure span{font-size: 22px;
                font-weight: 800;
            
            }
            .page07_content img.color{
                transition: 0.5s all;
            
                opacity: 0.3;}
            


/* footer line */

footer {
    width: 100%;
    height: 300px;
  }
  footer video{
    position: absolute;
z-index: -10;
    width: 100%; height: 300px;
    object-fit: cover;
  }
  .footer_box {
    width: 1200px;
    margin: 0 auto;
  
    height: 300px;
  }
  .footer_left {
    width: 400px;
    height: 300px;
    position: relative;
    float: left;
  }
  .footer_left h1 {
    width: 100%;
    transition: all 1.5s;
    text-align: center;
    display: inline-block;
    margin: 30% 0;
    font-size: 50px;
    color: #f8f8f8;
    position: absolute;
    left: 100%;
    border-bottom: 1px solid #f8f8f8;
  }
  
  .footer_left h1.on {
    position: absolute;
    top: 30%;
    left: 0;
    transition: all 1s;
    border: none;
    border-radius: 0;
    font-size: 35px;
  }
  .footer_left.on {
    height: 100%;
    transition: 2s all;
    background-color: rgb(61, 60, 60);
  }
  
  .footer_right {
    width: 800px;
    height: 300px;
    float: left;
    color: #f8f8f8;
  }
  
  .footer_right .footer_content li {
    width: 250px;
    cursor: pointer;
    text-align: left;
    float: left;
    height: 300px;
    margin-left: 13px;
  }
  .footer_right .footer_content li.on {
    background-color: rgb(61, 60, 60);
    background-size: cover;
    transition: 1s all;
  }
  .footer_content h1 {
    width: 100%;
    margin-top: 15%;
    padding: 1rem;
    font-size: 26px;
  }
  .footer_content .footer_text {
    width: 100%;
    height: 180px;
  }
  .footer_content .footer_text p {
    padding: 1rem;
    font-size: 14px;
  }